.app {
  background-color: #262626;
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 0.625rem;
  /* grid-template-columns: 1fr 1fr 1ft; */
  /* grid-template-areas: "sidebar task task task details details details details details details"; */
}

.sidebar {
  width: 100%;
  /* grid-area: sidebar; */
  max-width: 256px;
}

.task {
  width: 100%;
  max-width: 456px;
  /* width: 100%; */
  /* grid-area: task; */
}

.details {
  width: 100%;
  /* grid-area: details; */
}
