* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}
.app {
  background-color: #262626;
  display: flex;
  gap: 1rem;
}

.app__tasks {
  width: 100%;
  max-width: 456px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
