.sidebar {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  /* height: 100vh; */
}

.sidebar__allHabit {
  margin-top: 3.75rem;
}

.specificSection {
  margin-top: 2.75rem;
}

.specificSection {
  margin-top: 2.75rem;
}
.sidebar__setting {
  margin-top: 20rem;
}
