.sidebar {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user__profileimg {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: white;
}
.user__profilename {
  font-size: 2rem;
}
.user__profiledropdown {
  align-self: flex-end;
  margin-left: auto;
  color: white;
}

.user__dropdown {
  height: 25.78px;
  width: auto;
}
